<section class="thirteen columns">
    <div class="container">
        <h1>Education</h1>
        <article>
            <header>
                <h1><time>2017.9 - 2020.6</time>Master in Institute of Computational Linguistics (硕士，计算语言学)</h1>
                <!-- <span>Peking University (北京大学) </span> -->
                <!-- <span>Co-advised by Zhifang Sui (穗志方), BaoBao Chang (常宝宝) and Xu Sun (孙栩)</span> -->
            </header>
            <p>
                <em>Peking University (北京大学), co-advised by Zhifang Sui (穗志方), BaoBao Chang (常宝宝) and Xu Sun (孙栩)</span> </em>
            </p>
        </article>
        <article>
            <header>
                <h1><time>2013.9 - 2017.6</time>Bachelor of Computer Science (本科，计算机专业)</h1>
                <!-- <span>Beijing Normal University (北京师范大学) </span> -->
                <!-- <span>Advised by Qian Yin (尹乾)</span> -->
            </header>
            <p>
                <em>Beijing Normal University (北京师范大学), advised by Qian Yin (尹乾)</em>
            </p>
        </article>
    </div>
</section>
