<section class="thirteen columns">
    <div class="container">
        <h1>Education</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- 1 -->
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <h5 style="text-align: center;"><strong>2017.9 - 2020.6</strong></h5>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <h5 style="text-align: left">
                            <strong><a href="www.pku.edu.cn">Master in Institute of Computational Linguistics, Peking University (北京大学)</a></strong>
                        </h5>
                        <!-- <h5 style="text-align: left">
                            <strong><a>硕士：北京大学 计算语言所 </a></strong>
                        </h5> -->
                        <strong>Basic</strong>
                        <ul>
                            <li>GPA Ranking: 1/10+ </li>
                            <li>Co-advised by Zhifang Sui (穗志方), BaoBao Chang (常宝宝) and Xu Sun (孙栩) </li>
                        </ul>
                        <strong>Awards</strong>
                        <ul>
                            <li>2018: Outstanding Academic Scholarship (优秀学术奖)</li>
                            <li>2018: Canon Scholarship in Peking University (佳能奖学金)</li>
                        </ul>
                        <!-- <p>
                            <em>Co-advised by Zhifang Sui (穗志方), BaoBao Chang (常宝宝) and Xu Sun (孙栩) </em>
                        </p> -->
                    </div>
                </div>
                <!-- 2 -->
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <h5 style="text-align: center"><strong>2013.9 - 2017.6</strong></h5>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <h5 style="text-align: left">
                            <strong><a href="www.bnu.edu.cn">Bachelor of Computer Science, Beijing Normal University (北京师范大学)</a></strong>
                        </h5>
                        <!-- <h5 style="text-align: left">
                            <strong><a>本科：北京师范大学 信息科学与技术学院 </a></strong>
                        </h5> -->
                        <strong>Basic</strong>
                        <ul>
                            <li>GPA Ranking: 1/40+</li>
                            <li>Advised by Qian Yin (尹乾)</li> 
                        </ul>
                        <strong>Awards</strong>
                        <ul>
                            <li>2017: Outstanding Graduate (优秀毕业生), 1/100 </li>
                            <li>2017: Beijing Merit Student (北京市三好学生), 1/500 </li>
                            <li>2016:<a href="http://xsc.bnu.edu.cn/docs/20161201202508220542.pdf"> Top Ten College Students Nomination Award (十佳大学生提名奖)</a><strong>, 全校前20名</strong></li>
                            <li>2016: National Scholarship (国家奖学金), 1/50.
                            <li>2015: Advanced Individual of Social Work (优秀社会工作奖), 1/30</li>
                            <li>2014: The First Prize Scholarship (校一等奖学金), 1/50</li>
                            <li>2013: First Prize in Department of Debate Competition (系辩论赛小组第一名), 1/80</li>
                            <li>2016: Teacher Competition Nomination Award (教师风采大赛提名奖), 全校前20名</strong></li>
                        </ul>
                        <!-- <p>
                            <em>Advised by Qian Yin (尹乾)</em>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- old format -->
        <!-- <article>
            <header>
                <h1><time>2017.9 - 2020.6</time>Master in Institute of Computational Linguistics (硕士，计算语言学)</h1>
            </header>
            <p>
                <em>Peking University (北京大学), co-advised by Zhifang Sui (穗志方), BaoBao Chang (常宝宝) and Xu Sun (孙栩) </em>
            </p>
        </article>
        <article>
            <header>
                <h1><time>2013.9 - 2017.6</time>Bachelor of Computer Science (本科，计算机专业)</h1>
            </header>
            <p>
                <em>Beijing Normal University (北京师范大学), advised by Qian Yin (尹乾)</em>
            </p>
        </article> -->
    </div>
</section>
