<style type="text/css">
h5.expstyle{
   /*color: #27A822;*/
   font-size: 18px;
   text-align: left;
}

h5.expstyle{
   color: #27A822;
}

ul.expstyle{
   font-size: 17px;
}
</style>

<section id="experience">
   <div class="container">
      <h3 class="expstyle">Interships</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <div class="col-sm-3 col-md-3 col-lg-3">
                  <h5 class="expstyle"><strong>2017.9 - 2019.3</strong></h5>
               </div>
               <div class="col-sm-3 col-md-3 col-lg-3">
                  <h5 class="expstyle"> <strong>WeChat AI</strong></h5>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6">
                  <h5 class="expstyle"> <strong>Research Intern</strong></h5>
               </div>
            </div>
            <div class="row">
               <ul class="expstyle">
                  <li>Mentored by Dr. Jie Zhou (周杰) and Dr. Peng Li (李鹏) </li>
                  <li>Researches on text style transfer， 2 papers under-review.</li>
               </ul>
            </div>

            <div class="row">
               <div class="col-sm-3 col-md-3 col-lg-3">
                  <h5 class="expstyle"><strong>2019.4 - </strong></h5>
               </div>
               <div class="col-sm-3 col-md-3 col-lg-3">
                  <h5 class="expstyle"> <strong>Google (Beijing)</strong></h5>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6">
                  <h5 class="expstyle"> <strong>Machine Learning Engineering Intern</strong></h5>
               </div>
            </div>
            <div class="row">
               <ul class="expstyle">
                  <li>Mentored by Dr. Mingjing Xiaoliu (肖刘明镜) </li>
                  <li>Projects of deep learning......</li>
               </ul>
            </div>
            <!-- old -->
            <!-- <h5>
               <strong><em>2019.4 - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em>&nbsp;&nbsp;&nbsp;<a>Google (Beijing)</a>&nbsp;&nbsp;&nbsp;Machine Learning Engineering Intern </strong>
               <ul>
                  <li>Mentored by Dr. Mingjing Xiaoliu (肖刘明镜) </li>
                  <li>Projects of deep learning......</strong></li>
               </ul>
            </h5> -->
         </div>
      </div>
      <h3 class="expstyle">Academic Services</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <ul class="expstyle">
                  <li>Reviewer of Artificial Intelligence Review Journal (Impact Factor: 3.814)</li>
                  <li>Sub-reviewer: AAAI 2018</li>
               </ul>
            </div>
         </div>
      </div>
      <h3 class="expstyle"> Teaching Assistant </h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <ul class="expstyle">
                  <li>TA of Introduction to Computer Science (2018)</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
