<section id="experience">
   <div class="container">
      <h3>Interships</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <h5>
               <strong><em>2018.6-2019.3</em><a>WeChat AI</a> Research Intern</strong>
               <ul>
                  <li>Mentored by Dr. Jie Zhou (周杰) and Dr. Peng Li (李鹏) </li>
                  <li>Researches on text style transfer， 2 papers under-review.</strong></li>
               </ul>
            </h5>
            <h5>
               <strong><em>2019.4-</em><a>Google (Beijing)</a> Machine Learning Engineering Intern </strong>
               <ul>
                  <li>Mentored by Dr. Mingjing Xiaoliu (肖刘明镜) </li>
                  <li>Projects of deep learning......</strong></li>
               </ul>
            </h5>
         </div>
      </div>
      <h3>Academic Services</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <h5>
               <ul>
                  <li>Reviewer of Artificial Intelligence Review Journal (Impact Factor: 3.814)</li>
                  <li>Sub-reviewer: AAAI 2018</li>
               </ul>
            </h5>
         </div>
      </div>
   </div>
</section>
