<style type="text/css">
h1 {font-size:60px;}
h2 {font-size:18px;}
p {font-size:14px;}
</style>

<nav class="navbar navbar-default">
  <div class="container">
<!--     <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div> -->
    <div id="navbar">
      <ul class="nav navbar-nav navbar-center">  
        <li> <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a> </li>
        <li><a href="/luofuli.github.io/education.html"> Education </a></li>
        <li><a href="{{ site.baseurl }}education.html"> Education </a></li>
        <li><a href="{{ site.baseurl }}research.html"> Research </a></li>
        <li><a href="{{ site.baseurl }}publication.html"> Publication </a></li>
        <li><a href="{{ site.baseurl }}experience.html"> Experience </a></li>
        <li><a href="{{ site.baseurl }}resume.html"> Resume </a></li>
        <li><a href="{{ site.baseurl }}more.html"> MoreAboutMe </a></li>
        
      </ul>
    </div>
  </div>
</nav>
