<style type="text/css">
li a {
   /*color: #27A822;*/
   font-size: 17px;
   line-height: 30px;
   text-align: left;
}
li {
   font-size: 17px;
   text-align: left;
   line-height: 20px;
}
</style>

<section id="social">
   <div class="container">
      <h3>Friends</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <ul>
               <li>
                  <strong><a href="https://tyliupku.github.io/">Tianyu Liu (刘天宇)</a></strong> <br>
                  My senior, Ph.D. student of Peking University, focusing on natural laguage generation and information extraction.
               </li>
               <li>
                  <strong><a href="http://jingjingxu.com/">Jingjing Xu (许晶晶)</a></strong> <br>
                  My senior, Ph.D. student of Peking University, focusing on Dialogue, Review Generation, and Sentiment Analysis.
               </li>
               <li>
                  <strong><a href="http://jolinxql.github.io/">Qiaolin Xia (夏乔林)</a></strong> <br>
                  My senior, Ph.D. student of Peking University, focusing on AMR.
               </li>
               <li>
                  <strong><a href="https://zhangyics.github.io/">Yi Zhang (张艺)</a></strong> <br>
                  My senior, Ph.D. student of Peking University, focusing on text style transfer.
               </li>
               <li>
                  <strong><a href="https://jklj077.github.io/">Xuancheng Ren (任宣丞)</a></strong> <br>
                  My senior, Ph.D. student of Peking University, focusing on language generation and NLP for Chinese.
               </li>
               <li>
                  <strong><a href="https://tyliupku.github.io/">Shuming Ma (马树铭)</a></strong> <br>
                  My senior, graduate of Peking University, focusing on text summarization, machine translation, and machine commenting.
               </li>
               <li>
                  <strong><a href="https://justinlin610.github.io/">Junyang Lin (林俊旸)</a></strong> <br>
                  My senior, graduate of Peking University, focusing on neural machine translation, abstractive summarization, matural language generation.
               </li>
               <li>
                  <strong><a href="https://ypengc7512.github.io/">Pengcheng Yang (杨鹏程)</a></strong> <br>
                  My classmate, master student of Peking University, focusing on natural laguage generation and multi-label classification. He has won two best paper rewards in COLING 2018.
               </li>
               <!-- <li>
                  <strong>Liangchen Luo (骆梁宸)</strong> <br>
                  My junior, bachelor of Peking University, focusing on dialogue generation and mechine learning.
               </li> -->
            </ul>
         </div>
      </div>
      <h3>Teachers</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <ul>
               <li><strong><a href="https://xusun.org/">Sun Xu (孙栩)</a></strong></li>
               <li><strong><a href="https://wanxiaojun.github.io/">Xiaojun Wang (万小军)</a></strong></li>
               <li><strong><a href="">Baobao Chang （常宝宝）</a></strong></li>
               <li><strong><a href="">Zhifang Sui (穗志方)</a></strong></li>
               
            </ul>
         </div>
      </div>
   </div>
</section>
