
<style type="text/css">
ol{list-style-type:demical; font-size: 16px;}
ol li{ list-style-position:outside;}
ol li em {
    font-style: italic;
    font-weight: bold;
    color: #27A822;
    
}
/*ol li b {
    font-weight: bold;
    color: #146b11;
    
}*/
.center
{
	position: absolute;
	left: 50%;
    transform: translatex(-50%);
}
.pub{
    background: #f1f1f1;
    border: 10px solid #fff;
    width: 800px;
}
</style>



<section id="research">
   <div class="container">
      <h3>Publications</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <ol class="center" reversed="" > <!-- reversed the number -->
                <li class="pub">
                   <em>Incorporating Glosses into Neural Word Sense Disambiguation</em><br>
                   <b>Fuli Luo</b>, Tianyu Liu, Qiaolin Xia, Baobao Chang and Zhifang Sui<br>
                   In <b>ACL 2018</b>.
                   <a href="https://aclweb.org/anthology/P18-1230">[PDF]</a>
                </li>
                <li class="pub">
                   <em>Leveraging Gloss Knowledge in Neural Word Sense Disambiguation by Hierarchical Co-Attention</em><br>
                   <b>Fuli Luo</b>, Tianyu Liu, Zexue He, Qiaolin Xia, Zhifang Sui and Baobao Chang<br>
                   In <b>EMNLP 2018</b>.
                   <a href="https://aclweb.org/anthology/D18-1170">[PDF]</a>
                </li>
            </ol>
        </div>
      </div>
   </div>
</section>
