
<style type="text/css">
ol{list-style-type:demical; font-size: 17px;}
ol li{
	list-style-position:outside;
    line-height: 30px;
}
ol li em {
    font-style: normal;
    font-weight: bold;
    color: #27A822;
    
}
ol li a
{
	color: #27A822;
}
/*ol li b {
    font-weight: bold;
    color: #146b11;
    
}*/
.center
{
/* 	position: absolute;
	left: 50%;
    transform: translatex(-50%); */
}
.pub{
    background: #f5f5f5;
    border: 10px solid #fff;
/*     width: 800px; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
</style>



<section id="publication">
   <div class="container">
      <h3>Publications</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <ol class="center"> <!-- reversed the number -->
		<li class="pub">
                   <em>Towards Fine-grained Text Sentiment Transfer.</em><br>
		   <b>Fuli Luo</b>, Peng Li, Pengcheng Yang, Jie Zhou, Yutong Tan, Baobao Chang, Zhifang Sui and Xu Sun.<br>
                   In <b>ACL 2019</b>.
                    <a href="https://www.aclweb.org/anthology/P19-1194">[paper]</a><a href="https://github.com/luofuli/Fine-grained-Sentiment-Transfer">[code]</a>
                </li>
		<li class="pub">
                   <em>Learning to Control the Fine-grained Sentiment for Story Ending Generation.</em><br>
		   <b>Fuli Luo*</b>, Damai Dai*, Pengcheng Yang, Tianyu Liu, Baobao Chang, Zhifang Sui and Xu Sun.<br>
                   In <b>ACL 2019 </b> (Short Paper).
		   <a href="https://www.aclweb.org/anthology/P19-1603">[paper]</a>
                   <a herf="https://github.com/Hunter-DDM/sentimental-story-ending">[code]</a>
                </li>
		<li class="pub">
                   <em>A Dual Reinforcement Learning Framework for Unsupervised Text Style Transfer.</em><br>
		   <b>Fuli Luo</b>, Peng Li, Jie Zhou, Pengcheng Yang, Baobao Chang, Zhifang Sui, Xu Sun.<br>
                   In <b>IJCAI 2019</b>.
                   <a href="https://export.arxiv.org/pdf/1905.10060">[paper]</a><a href="https://github.com/luofuli/DualRL">[code]</a>
                </li>
		<li class="pub">
                   <em>Incorporating Glosses into Neural Word Sense Disambiguation.</em><br>
                   <b>Fuli Luo</b>, Tianyu Liu, Qiaolin Xia, Baobao Chang and Zhifang Sui.<br>
                   In <b>ACL 2018</b>.
                   <a href="https://aclweb.org/anthology/P18-1230">[paper]</a><a href="https://github.com/luofuli/word-sense-disambiguation">[code]</a>
                </li>
                <li class="pub">
                   <em>Leveraging Gloss Knowledge in Neural Word Sense Disambiguation by Hierarchical Co-Attention.</em><br>
                   <b>Fuli Luo</b>, Tianyu Liu, Zexue He, Qiaolin Xia, Zhifang Sui and Baobao Chang.<br>
                   In <b>EMNLP 2018</b>.
                   <a href="https://aclweb.org/anthology/D18-1170">[paper]</a>
                </li>
		<li class="pub">
                   <em>Knowledgeable Storyteller: A Commonsense-Driven Generative Model for Visual Storytelling.</em><br>
	           Pengcheng Yang, <b>Fuli Luo</b>, Peng Chen, Lei Li, Zhiyi Yin, Xu Sun.<br>
                   In <b>IJCAI 2019</b>.
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
		<li class="pub">
                   <em>MAAM: A Morphology-Aware Alignment Model for Unsupervised Bilingual Lexicon Induction.</em><br>
		   Pengcheng Yang, <b>Fuli Luo</b>, Peng Chen, Tianyu Liu and Xu Sun.<br>
                   In <b>ACL 2019 </b> (Short Paper).
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
		<li class="pub">
                   <em>Towards Comprehensive Description Generation from Factual Attribute-value Tables.</em><br>
		   Tianyu Liu, <b>Fuli Luo</b>, Pengcheng Yang, Wei Wu, Baobao Chang and Zhifang Sui.<br>
                   In <b>ACL 2019 </b>.
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
		<li class="pub">
                   <em>A Deep Reinforced Sequence-to-Set Model for Multi-Label Classification.</em><br>
		   Pengcheng Yang, <b>Fuli Luo</b>, Shuming Ma, Junyang Lin and Xu Sun.<br>
                   In <b>ACL 2019</b> (Short Paper).
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
		<li class="pub">
                   <em>Hierarchical Encoder with Auxiliary Supervision for Table-to-text Generation: Learning Better Representation for Tables.</em><br>
                   Tianyu Liu, <b>Fuli Luo</b>, Qiaolin Xia, Shuming Ma, Baobao Chang and Zhifang Sui.<br>
                   In <b>AAAI 2018</b>.
                   <a href="https://www.aaai.org/Papers/AAAI/2019/AAAI-LiuT.3205.pdf">[paper]</a>
                </li>
		<li class="pub">
                   <em>A Sequence Operation Method for Text Style Transfer.</em><br>
		   Chen Wu, Xuancheng Ren, <b>Fuli Luo</b> and Xu Sun.<br>
                   In <b>ACL 2019</b>.
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
		<li class="pub">
                   <em>Enhancing Topic-to-Essay Generation with External Commonsense Knowledge.</em><br>
		   Pengcheng Yang, Lei Li, <b>Fuli Luo</b>, Tianyu Liu and Xu Sun.<br>
                   In <b>ACL 2019</b>.
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
		<li class="pub">
                   <em>Cross-Modal Commentator: Automatic Machine Commenting Based on Cross-Modal Information.</em><br>
		   Pengcheng Yang, Zhihan Zhang, <b>Fuli Luo</b>, Lei Li, Chengyang Huang and Xu Sun.<br>
                   In <b>ACL 2019</b> (Short Paper).
<!--                    <a href="#">[paper]</a><a href="#">[code]</a> -->
                </li>
<!--                 <li class="pub">
                   <em>Learning Unsupervised Word Mapping by Maximizing Mean Discrepancy.</em><br>
                   Pengcheng Yang, <b>Fuli Luo</b>, Shuangzhi Wu, Jingjing Xu, Dongdong Zhang, Xu Sun.<br>
                   In <b>arXiv</b>.
                   <a href="https://arxiv.org/abs/1811.00275.pdf">[paper]</a>
                </li> -->
		<li class="pub">
                   <em>Cross-language Document Summarization via Extraction and Ranking of Multiple Summaries.</em><br>
                   Xiaojun Wan, <b>Fuli Luo</b>, Xue Sun, Songfang Huang, Jin-ge Yao.<br>
                   In <b>KAIS</b> (Journal).
                   <a href="https://link.springer.com/article/10.1007/s10115-018-1152-7">[paper]</a>
                </li>
<!--                 <li class="pub">
                   <em>Word Sense Disambiguation Using Generative Adversarial Networks.</em><br>
		   <b>Fuli Luo*</b>, Zijian Hu*, Yutong Tan, Wenxin Zeng and Zhifang Sui.<br>
		   In <b>AAAI 2019</b> (Student Abstract Finalist).
                   <a href="https://link.springer.com/article/10.1007/s10115-018-1152-7">[paper]</a>
                </li> -->
            </ol>
        </div>
      </div>
   </div>
</section>
