
<style type="text/css">
ol{list-style-type:demical; font-size: 17px;}
ol li{
	list-style-position:outside;
    line-height: 30px;
}
ol li em {
    font-style: normal;
    font-weight: bold;
    color: #27A822;
    
}
ol li a
{
	color: #27A822;
}
/*ol li b {
    font-weight: bold;
    color: #146b11;
    
}*/
.center
{
	position: absolute;
	left: 50%;
    transform: translatex(-50%);
}
.pub{
    background: #f5f5f5;
    border: 10px solid #fff;
/*     width: 800px; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
</style>



<section id="publication">
   <div class="container">
      <h3>Publications</h3>
      <div class="panel panel-default">
         <div class="panel-body">
            <ol class="center"> <!-- reversed the number -->
		<li class="pub">
                   <em>A Dual Reinforcement Learning Framework for Unsupervised Text Style Transfer</em><br>
		   <b>Fuli Luo</b> Peng Li, Jie Zhou, Pengcheng Yang, Baobao Chang, Zhifang Sui, Xu Sun <br>
                   In <b>IJCAI 2019</b>.
                   <a href="#">[paper]</a><a href="#">[code]</a>
                </li>
		<li class="pub">
                   <em>Knowledgeable Storyteller: A Commonsense-Driven Generative Model for Visual Storytelling</em><br>
	           Pengcheng Yang, <b>Fuli Luo</b>, Peng Chen, Lei Li, Zhiyi Yin, Xu Sun.<br>
                   In <b>IJCAI 2019</b>.
                   <a href="#">[paper]</a><a href="#">[code]</a>
                </li>
                <li class="pub">
                   <em>Incorporating Glosses into Neural Word Sense Disambiguation</em><br>
                   <b>Fuli Luo</b>, Tianyu Liu, Qiaolin Xia, Baobao Chang and Zhifang Sui<br>
                   In <b>ACL 2018</b>.
                   <a href="https://aclweb.org/anthology/P18-1230">[paper]</a><a href="https://github.com/luofuli/word-sense-disambiguation">[code]</a>
                </li>
                <li class="pub">
                   <em>Leveraging Gloss Knowledge in Neural Word Sense Disambiguation by Hierarchical Co-Attention</em><br>
                   <b>Fuli Luo</b>, Tianyu Liu, Zexue He, Qiaolin Xia, Zhifang Sui and Baobao Chang<br>
                   In <b>EMNLP 2018</b>.
                   <a href="https://aclweb.org/anthology/D18-1170">[paper]</a>
                </li>
                <li class="pub">
                   <em>Hierarchical Encoder with Auxiliary Supervision for Table-to-text Generation: Learning Better Representation for Tables</em><br>
                   Tianyu Liu, <b>Fuli Luo</b>, Qiaolin Xia, Shuming Ma, Baobao Chang and Zhifang Sui <br>
                   In <b>AAAI 2018</b>.
                   <a href="https://www.aaai.org/Papers/AAAI/2019/AAAI-LiuT.3205.pdf">[paper]</a>
                </li>
                <li class="pub">
                   <em>Learning Unsupervised Word Mapping by Maximizing Mean Discrepancy</em><br>
                   Pengcheng Yang, <b>Fuli Luo</b>, Shuangzhi Wu, Jingjing Xu, Dongdong Zhang, Xu Sun <br>
                   In <b>arXiv</b>.
                   <a href="https://arxiv.org/abs/1811.00275.pdf">[paper]</a>
                </li>
                <li class="pub">
                   <em>Cross-language Document Summarization via Extraction and Ranking of Multiple Summaries</em><br>
                   Xiaojun Wan, <b>Fuli Luo</b>, Xue Sun, Songfang Huang, Jin-ge Yao. <br>
                   In <b>KAIS</b> (Journal).
                   <a href="https://link.springer.com/article/10.1007/s10115-018-1152-7">[paper]</a>
                </li>
            </ol>
        </div>
      </div>
   </div>
</section>
