<section id="research">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	<h5>
		<strong><a href="#">Text Style Transfer (文本风格转换)</a></strong>
		- 
	</h5>
	<h5>
		<strong><a href="#">Control the Sentiment of Text Generation (控制文本生成的情感)</a></strong>
		- 
	</h5>
    <h5>
      <strong><a href="#">Word Sense Disambiguation (词义消歧)</a></strong>
      <ul>
      	<li>Task Defination: Word Sense Disambiguation (WSD) aims to identify the correct meaning of poly- semous words in the particular context.
      	<li>Motivations & Contributions: The first to incorporate knowledge information into a neural architecture for WSD. In this way, the model can benefit from not only massive labeled data but also rich lexical knowledge.</li>
      	<!-- <li>Point: Memory Network, Co-attention -->
      	<li><strong>3 papers published (<a href="">ACL17</a>, <a href="">EMNLP18</a>, <a href="">AAAI19</a>)</strong></li>
      </ul>		
	</h5>
    </div>
  </div>
</div>
</section>
