<section id="research">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa">1</i>&nbsp;&nbsp;<strong><a href="#">Text Style Transfer</a></strong>
			- 
		</h5>
		<h5>
			<strong><a href="#">Control the Sentiment of Text Generation</a></strong>
			- 
		</h5>
    <h5>
      <strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
    </div>
  </div>
</div>
</section>
